<div class="note d-flex mb-3"> 
  <div class="note-video-time">
    <%= link_to timecode(note.video_time), 'javascript:void(0);', id:"deep-link-#{note.id}", data: { seconds: note.video_time }, onclick: "seekPlayer(this.dataset.seconds)", class:"ps-2"%> 
  </div>
  <div class="note-right border-bottom">
    <div class="note-text" id="text">
      <%= link_to note.text, 'javascript:void(0);', id:"note-link-#{note.id}", data: { id: "note-control-#{note.id}" }, onclick: "displayEdit(this.dataset.id)", class:"text-decoration-none text-black" %>
    </div>
    <div class="note-control hidden" id="<%= "note-control-#{note.id}" %>">
      <div class="d-flex justify-content-end pe-2">
        <%= link_to "編集", edit_note_path(note.id), remote: true %>
        <span class="px-2">|</span>
        <%= link_to "削除", note_path(note.id), method: :delete, remote: true %>
      </div>
    </div>
  </div>
</div>

