<div class="header">
  <%= render "shared/header" %>
</div>
<div class="top_page-wrapper">
  <div class="tubook-description" >
    <%=image_tag 'tubookTOP.jpeg', size:"700x580" %>
  </div>
  <div class="modal-dl" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0 fs-3">新規登録</h2>
      </div>

      <div class="modal-body p-5 pt-0">
        <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>

          <div class="mb-3">
            <%= f.label :nickname, "アカウント名  半角(大文字・小文字・数字・_ )のみ " %>
            <%= f.text_field :nickname, id: "nickname", placeholder: "アカウント名", class: "form-control rounded-4", autofocus: true %>
          </div>
          <div class="mb-3">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, id: "email", placeholder: "name@example.com", class: "form-control rounded-4" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 桁以上で入力してください)</em>
              <% end %><br />
            <%= f.password_field :password, id: "password", placeholder: "password", class: "form-control rounded-4" %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "パスワード(再入力)"%>
            <%= f.password_field :password_confirmation, id: "password-confirmation", placeholder: "password(確認)", class: "form-control rounded-4" %>
          </div>
          <%= f.submit "Sign up", class: "w-100 mb-2 btn btn-lg rounded-4 btn-primary" %>
        <% end%>
        <hr class="my-4">
        <div class="conteiner" >
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h2 class="fs-6 mb-3 text-center">アカウントをお持ちの方はこちら</h2>
              <div class="ms-3 mb-3">
                <%= link_to "ログイン", new_user_session_path, class:"link-to-login" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
