
<div class="sidebar">
  <div class="container">
    <div class=" pt-4 fw-bold partition-border"><span class="text-danger">C</span>hat Room</div>
    <div class="chat-area">
      <div class="chat-window">
        <div class="chat-room-name">
          <%="#{@room.name}(#{@room.users.length})"%>
        </div>
        <%  if @chat_messages %>
          <div class="chat-contents">
            <% @chat_messages.each do |message| %>
              <% if message.user_id = current_user.id %>
                <%# チャットメッセージ 右%>
                <div class="chat-content right">
                  <div class="chat-user-icon">
                    <% if current_user.avatar? %>
                      <%= image_tag current_user.avatar.url, alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
                    <% else %>
                      <%= image_tag "default.png", alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
                    <% end %>
                  </div>
                  <div class="chat-body">
                    <div class="chat-user right">
                      <%= current_user.nickname%>
                    </div>
                    <div class="chat-message">
                      <%= message.text %>
                    </div>
                  </div>
                </div>
              <% else %>
                <%# チャットメッセージ 左%>
                <div class="chat-content left">
                  <div class="chat-user-icon">
                    <% if message.user.avatar? %>
                      <%= image_tag message.user.avatar.url, alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
                    <% else %>
                      <%= image_tag "default.png", alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
                    <% end %>
                  </div>
                  <div class="chat-body">
                    <div class="chat-user left">
                      <%= message.user.nickname%>
                    </div>
                    <div class="chat-message">
                      <%= message.text %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= form_with model: [@room, @chat_message],local: true do |f| %>
          <div class="chat-form">
            <div class="message-form">
              <%= f.text_area :text, id: "chat_message_text", placeholder: "メッセージ", class: "form-control rounded-4" %>
            </div>
            <div class="chat-submit">
              <label>
                <i class="fab fa-telegram-plane"></i>
                <%= f.submit "送信", class:"visually-hidden" %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>