  <header class="p-3  border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none h2">
          <i class="fab fa-youtube text-danger"></i>
          <span class="text-danger">Tu</span><span>book</span>
        </a>
        <% if user_signed_in? %>
          <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center align-items-end mb-md-0 fs-5">
            <% if @room %>
            <li><%#= link_to "ChatRoom", room_path(@room), class:"nav-link px-3 pb-0 link-dark" %></li>
            <li><%= link_to "#{@room.name} / #{current_user.nickname}", room_path(@room), class:"nav-link px-3 pb-0 link-dark" %></li>
            <% else %>
            <li><%= link_to current_user.nickname, root_path, class:"nav-link px-3 pb-0 link-dark" %></li>
            <% end %>
          </ul>
          <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form> %>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url, alt: "mdo", width:"37", height:"37", class:"rounded-circle user-icon" %>
              <% else %>
                <%= image_tag "default.png", alt: "mdo", width:"37", height:"37", class:"rounded-circle user-icon" %>
              <% end %>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><%= link_to "＋新規Book", new_book_path, class:"dropdown-item" %></li>
              <li><%= link_to "＋新規Room", new_room_path, class:"dropdown-item" %></li>
              <% if @room %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "＋新規Book(Room:#{@room.name})", new_room_book_path(@room), class:"dropdown-item" %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </header>