<div class="sidebar">
  <div class="container">
    <div class=" pt-4 fw-bold partition-border">Plofile</div>
    <div class="d-flex justify-content-between pt-4 w-100">
      <div class="profile-icon ms-2">
        <% if @user.avatar? %>
          <%= image_tag current_user.avatar.url, alt: "mdo", width:"70", height:"70", class:"rounded-circle user-icon" %>
        <% else %>
          <%= image_tag "default.png", alt: "mdo", width:"70", height:"70", class:"rounded-circle user-icon" %>
        <% end %>
        <div class="text-center"><%= @user.nickname %></div>
      </div>
      <div class="d-block w-100 ps-5 pt-4">
        <div class="fs-6 ">画像の編集</div>
        <%= form_with model: @user, url: user_path(current_user.id), multipart: true, local: true do |f| %>
        <div class="d-flex justify-content-start pt-3">
          <div class="button-wrapper">
              <label class="form-avatar" id="user_avatar">
              <span class="avatar-file">画像を選択</span>
              <%= f.file_field :avatar, class:"visually-hidden" %>
              <%= f.text_field :nickname, class:"visually-hidden" %>
          </div>
          <div class="ps-3">
            <%= f.submit "更新", class:"avatar-submit" %>
            
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="fw-bold pt-4 partition-border">Rooms</div>
    <% if @rooms %>
    <div class="rooms">
      
    </div>
    <% end %>
  </div>
</div>