<%= javascript_pack_tag 'book/application' %>
<%= render "shared/header" %>

<div class="show-book-wrapper">
    <div class="book-top-wrapper border-bottom ">
      <div class="show-book-title d-flex align-items-center">
        <label for="description-show"><i class="fas fa-angle-down pe-2"></i></label>
        <h3><%= @book.title %></h3>
      </div>
      <input type="checkbox" id="description-show"/>
      <div class="show-book-description d-flex align-items-end">
        <p class="pe-2 mb-0 text-secondary">bookの概要:</p>
        <%= @book.description %>
      </div>
    </div>

  <div class="container-fluid">
    <div class="book-main-wrapper mt-4">
      <div class="book-left-content col-6">
        <div class="player-container">
          <div class="youtube-player" id="player"></div>
        </div>
      </div>

      <div class="book-right-content col">
        <div class="notes-window">
          <h2 class="notes-hedding w-50 border-bottom border-dark ps-2"><span class="text-danger">N</span>otes</h2>
          <div class="notes" id="notes">
            <%= render partial: "notes/note", collection: @notes %>
          </div>
        </div>
        <div class="notes-info">※Noteをクリックで編集・削除</div>
      </div>
    </div> <%#/book-main-wrapper%>

    <div class="display-area d-flex align-items-end justify-content-start">
      <div  class="display-now  ps-3">Now:</div>
      <div id="display-note" class="display-note"></div>
    </div>

    <div class="add-note-wrapper" id="add-note-wrapper">
      <%= render partial: "note_form", locals: {book: @book, note: @note} %>
    </div>

  </div><%#/container%>
</div><%#/show-book-wrapper%>
