<div id=<%="add-member-list-#{user.id}"%> class="add-member-list">
  <div>-</div>
  <div class="member-user-avatar">
    <% if user.avatar? %>
      <%= image_tag user.avatar.url, alt: "mdo", width:"40", height:"40", class:"rounded-circle user-icon" %>
    <% else %>
      <%= image_tag "default.png", alt: "mdo", width:"40", height:"40", class:"rounded-circle user-icon" %>
    <% end %>
  </div>
  <div class="member-user-name">
    <%= user.nickname %>
    <input placeholder="アカウント名" class="visually-hidden" type="text" name="room[user_ids][]" value=<%= user.id%> >
  </div>
  <div class="delete-new-room-member">
  <%= link_to 'javascript:void(0);', data: { list: "add-member-list-#{user.id}" }, onclick: "deleteNewRoomMember(this.dataset.list)" do %> 
    <i class="far fa-times-circle text-secondary"></i>
  <% end %>
  </div>
</div>